{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="activities_container" class="col-lg-12" style="margin-top: -10px;">
            {% render path('activity_list', { 'q': query, 'date': dateFrom, 'nb': nbDays}) %}
        </div>
    </div>

    <div id="modal-tag-add" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Séléctionner un tag</h4>
                </div>
                <div class="modal-body">
                    {{ form(tagAddForm) }}
                    <div class="row">
                    {% for tag in tags %}
                    <div class="col-xs-4">
                        <p data-id="{{ tag.id }}" class="tag">
                            <span class="hidden">{% include 'Tag/button_small.html.twig' with {'tag': tag, 'url': ''} %}</span>
                            {% include 'Tag/button.html.twig' with {'tag': tag, 'url': ''} %}
                        </p>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
