{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="activities_container" class="col-lg-12">
            {% render path('activity_list', { 'q': query, 'date': dateFrom, 'nb': nbDays}) %}
        </div>
    </div>
{% endblock %}
