parameters:

    # Database driver : pdo_sqlite or pdo_mysql
    database_driver:    pdo_sqlite

    # MYSQL Configuration
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     monactivite
    database_user:     ~
    database_password: ~

    # SQLite parameters
    database_path:     "%kernel.root_dir%/../data/monactivite.db3"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

#    view_mode: 'daily' # daily, monthly
