{% extends '::base.html.twig' %}

{% set menu = 'filter' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Ajouter un filtre</h3></div>
            <div class="panel-body">
                <div class="row">
                    {% include "Filter/form.html.twig" with { 'form': form } %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h3>Filtres appliqués</h3>
        {% include "Filter/list.html.twig" with { 'entities': entities } %}
    </div>
</div>
{% endblock %}
