{% extends '::base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme delete_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><a class="btn btn-link btn-xs pull-right" href="{{ path('tag') }}"><span class="glyphicon glyphicon-repeat"></span> Annuler</a> <button type="submit" class="btn btn-xs pull-right btn-link" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce tag ?')" title="Supprimer"><span class="glyphicon glyphicon-trash"></span> Supprimer ce tag</button>{{ form_end(delete_form) }}<h3 class="panel-title">Modifier le tag</h3> {{ form_start(delete_form) }}{{ form_errors(delete_form) }}</div>
            <div class="panel-body">
                <div class="row">
                    {% include "Tag/form.html.twig" with { 'form': edit_form } %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <h3>Tags existants</h3>
        {% include "Tag/list.html.twig" with { 'entities': entities } %}
    </div>
</div>
{% endblock %}
